node_modules/**/*
npm-debug.log
yarn-error.log
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

*.pdf
.expo-shared/

android/.gradle
android/.idea
*.iml
android/app/build


